  <!--Mathen Panchalingam 300922475 Oct 5th 2022-->
  <!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-black">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">&copy; Copyright 2022 All rights reserved.</a>
      </div>
    </nav>
  </footer>