<!--Mathen Panchalingam 300922475 Oct 5th 2022-->
<!-- Script Section-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/boostrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>