<!--Mathen Panchalingam 300922475 Oct 5th 2022-->
<%-include partials/header.ejs %>
<%-include partials/main_nav.ejs %>
 
<style>
    body{
        background-color: rgb(163, 162, 162);
    }
    p{
        font-size: larger;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
    }

    img:hover{
    transform:scale(1.1);
}

  </style>

<!--Personal info-->
<p><img src="assests/images/img.jpg" alt="Mathen" style="float:left; width:400px;height:400px; border: 5px solid black;margin-left: 30px; margin-top: 30px; transition: all 1s;"></p>
<div class="container" style="padding-left: 30px; padding-top: 30px;">
    <p>My name is Mathen Panchalingam. I am currently enrolled in the Software Engineering Technology program at Centennial College. At this current time, I am trying to improve my technical skills and knowledge on front-end development (with the end goal being a career as a full stack developer). While I am currently in the energy management field, my interests lie in coding and the corresponding technology and I strongly believe that this will help to propel me in the right direction.  </p>

    <p>My Current Resume can be accessed <a href="assests/files/MathenResume.pdf">here</a>.</p>
</div>


<%-include partials/bottom_nav.ejs %>
<%-include partials/footer.ejs %>