<!--Mathen Panchalingam 300922475 Oct 5th 2022-->
<%-include partials/header.ejs %>
<%-include partials/main_nav.ejs %>
 
<style>
    body{
        background-color: rgb(163, 162, 162);
    }

    p{
        font-size: larger;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
    }
    
    img:hover{
    transform:scale(1.1);
}

  </style>

<!--Projects-->
<div class="first">
<p><img src="assests/images/firstproject.png" alt="Firstproject" style="float:left; width:300px;height:200px; border: 5px solid rgb(97, 95, 95);margin-left: 30px; margin-top: 30px; transition: all 1s;"></p>
<div class="container" style="padding-left: 60px; padding-top: 30px;padding-bottom: 200px;">
    <p>One of the first projects I started on was a mock startup page. This was done to help improve my understanding of flexbox and bootstrap. As it was one of the first web pages I've done, it wasn't exceptional but it allowed me to get a stronger handle on html and css practices.The webpage included a sign up form meant to collect contact info and respond with an email.</p>
</div>
</div>

<div class="second">
    <p><img src="assests/images/secondproject.png" alt="Secondproject" style="float:left; width:300px;height:200px; border: 5px solid rgb(97, 95, 95);margin-left: 30px; margin-top: 30px; transition: all 1s;"></p>
    <div class="container" style="padding-left: 60px; padding-top: 30px; padding-bottom: 200px;">
        <p>Another project was based off creating an interactive image on my webpage. Through the use of flexbox, I was able to adjust the image when certain parts were hovered over.This project was another personal milestone in my learning path as it simplified ideas that I originally thought were difficult.</p>
 </div>
</div>

<div class="third">
    <p><img src="assests/images/thirdproject.png" alt="Thirdproject" style="float:left; width:300px;height:200px; border: 5px solid rgb(97, 95, 95);margin-left: 30px; margin-top: 30px; transition: all 1s;"></p>
    <div class="container" style="padding-left: 60px; padding-top: 30px; padding-bottom: 200px;">
        <p>A third project I completed was based of utilizing grids. This project allowed me to get a better understanding on how to make a webpage more visually appealing whilst also being reactive. As most of the images, were interactive it helped to ingraine a more modern take to websites (as opposed to a less vibrant and simple page).</p>
 </div>
</div>


<%-include partials/bottom_nav.ejs %>
<%-include partials/footer.ejs %>