<!--Mathen Panchalingam 300922475 Oct 5th 2022-->
<%-include partials/header.ejs %>
<%-include partials/main_nav.ejs %>
 
<style>
body{
        background-color: rgb(163, 162, 162);  
    }

.container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

img:hover{
    transform:scale(1.1);
}

</style>
<!--Photo example of services-->
<body>
    <h1>Services include:</h1>
    <div class="container">
        <img src="https://dashwire.com/wp-content/uploads/2022/04/the-complete-guide-to-mobile-app-development-2021.png" style="width: 450px; height: 300px; margin: 10px; transition: all 1s;">
        <img src="https://www.avenga.com/wp-content/uploads/2020/11/C-Sharp.png" style="width: 450px; height: 300px; margin: 10px; transition: all 1s;">
        <img src="https://miro.medium.com/max/792/1*lJ32Bl-lHWmNMUSiSq17gQ.png" style="width: 450px; height: 300px; margin: 10px; transition: all 1s;">
        <img src="https://i0.wp.com/idsc.miami.edu/wp-content/uploads/2020/10/Python-image-with-logo-940x530-1.jpg?resize=940%2C530&ssl=1" style="width: 450px; height: 300px; margin: 10px; transition: all 1s;">
    </div>
</body>
  

<%-include partials/bottom_nav.ejs %>
<%-include partials/footer.ejs %>